:host ::ng-deep {
  .default__content {
    max-width: 1024px;
    margin: 80px auto;
    padding: 0 10px;
  }
  .nav-item {
    width:120px;
    font-size: 16px;
  }
  .nav-wrap {
    max-width: 1280px;
    margin: 0 auto;
    font-size:16px;

  }
}
