
<div class="slogan" style="background-image: url('assets/slogan/gsbg.png')">
  <img src="assets/slogan/diudiao.png" alt="丢掉幻想，准备斗争" width="100%" style="opacity:0.9; filter: alpha(opacity=80);"/>
</div>

<div class="default__content">
  <nz-row [nzGutter]="{ xs: 8, sm: 16, md: 24, lg: 32, xl: 32, xxl: 32 }">
    <nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="18">
      <app-article-list></app-article-list>
    </nz-col>
    <nz-col nzXs="0" nzSm="0" nzMd="8" nzLg="8" nzXl="6">
      <nz-card style="width:300px;" nzTitle="创作者中心" >
        <div sg-container="2">
          <sg>
            <a [routerLink]="['/articles/add']">
            <div class="text-center point">
              <i nz-icon nzType="form" nzTheme="outline" style="font-size: 32px;color: #722ED1;"></i>
              <h5 class="text-purple-light m-sm">发文章</h5>
            </div>
            </a>
          </sg>
          <sg>
            <div class="text-center  point">
              <i nz-icon nzType="highlight" nzTheme="outline" style="font-size: 32px;color: #722ED1;"></i>
              <h5 class="text-purple-light m-sm">写想法</h5>
            </div>
          </sg>
        </div>
        <ng-template #extraTemplate>
          <a>More</a>
        </ng-template>
      </nz-card>
      <nz-affix [nzOffsetTop]="100">
        <nz-card style="width:300px;" nzTitle="优秀博客" [nzExtra]="adTemplate">
          <p><a href="https://coolshell.cn/" target="_blank">酷壳 - 左耳朵耗子</a></p>
          <p><a href="http://www.ruanyifeng.com/" target="_blank">阮一峰的个人网站</a></p>
          <p><a href="http://www.yinwang.org/" target="_blank">王垠</a></p>
          <ng-template #adTemplate>
            <a>排名不分先后</a>
          </ng-template>
        </nz-card>
        <div style="color: rgba(0, 0, 0, 0.45);font-size: 14px;text-align: left;padding-left:10px;">
          <p>留言 举报</p>
          <p>鲁ICP 备 18055669号</p>
          Copyright
          <i class="anticon anticon-copyright"></i> 2018
          <a href="//github.com/niguangye" target="_blank">Beagle</a>出品
        </div>
      </nz-affix>
    </nz-col>
  </nz-row>
</div>



